@import "common/colors";
@import "utils/fonts";

@import "modules/about";

@import "components/arc-text";
@import "components/card";


html {
  background-color: $color--primary-very-light;
  color: $color--default;
  font-family: monospace;
}

h3 {
  margin: 5px 0;
}

a {
  text-decoration: none;

  &:link, &:visited, &:active {
    color: $color--primary;
  }

  &:hover {
    color: $color--primary-dark;
    font-weight: 600;
  }
}

.footer {
  text-align: center;
  margin-top: 30px;
}
