@import "common/colors";

@import "modules/about";

@import "components/arc-text";


html {
  background-color: $color--primary-very-light;
  color: $color--muted;
}

a {
  text-decoration: none;

  &:link, &:visited, &:active {
    color: $color--muted;
  }

  &:hover {
    font-weight: 600;
    color: $color--primary-dark;
  }
}
