.wrapper {
  max-width: 1024px;
  background-color: whitesmoke;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border-radius: 1px;
  box-shadow: black -1px 1px 6px 1px;

  .hero {
    display: flex;

    .hero {
      &--left {
        text-align: right;
        line-height: 0.75;

        .about {
          &--first-name {
            font-size: 1.5em;
          }

          &--last-name {
            font-size: 4.5em;
            color: darkred;
          }

          &--title {
            color: darkgray;
          }
        }
      }

      &--center {
        display: flex;
        flex-direction: column;
        align-items: center;

        .about {
          &--avatar {
            width: 150px;
            height: 150px;
            border-radius: 100%;
            overflow: hidden;

            img {
              width: 100%;
            }
          }
        }
      }

      &--right {
        text-align: left;
      }
    }


    > div {
      flex: 1;
      padding: 20px;
    }
  }
}
