<div class="wrapper">
  <div class="hero">
    <div class="hero--left">
      <div class="about--first-name">Brandon</div>
      <div class="about--last-name">Drake</div>
      <div class="about--title">Software Engineer</div>
    </div>
    <div class="hero--center">
      <div class="arc--outer">
        <span>something</span>
        <span>something</span>
        <span>something</span>
        <span>something</span>
        <span>something</span>
      </div>
      <div class="arc--inner">
        <span>blah</span>
        <span>blah</span>
        <span>blah</span>
      </div>
      <div class="about--avatar">
        <img src="{{rootURL}}images/avatar.png">
      </div>
    </div>
    <div class="hero--right">
      <div class="contact-info__address">
        <div class="contact-info__address-one">1234 Shutta</div>
        <div class="contact-info__address-two">Blah, More Blah 87654</div>
      </div>

      <div class="contact-info__renrakusaki">
        <div>9876543</div>
        <div>bob@example.com</div>
        <div>@twitter.com</div>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="content--left">

    </div>
    <div class="content-right">

    </div>
  </div>
</div>