.wrapper {
  max-width: 1024px;
  background-color: $white;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border-radius: 1px;
  box-shadow: black -1px 1px 6px 1px;

  .hero {
    display: flex;

    .hero {
      &--left, &--right {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      &--left {
        text-align: right;
        line-height: 0.75;

        .about {
          &--first-name {
            font-size: 1.5em;
          }

          &--last-name {
            font-size: 4.5em;
            color: $color--primary;
          }

          &--title {
            color: $color--primary-dark;
          }
        }
      }

      &--center {
        display: flex;
        flex-direction: column;
        align-items: center;

        .avatar {
          width: 200px;
          height: 200px;
          position: relative;
          background-color: $color--muted;
          border-radius: 100%;
          border: 1px solid $color--primary-very-light;
          color: $color--primary-very-light;

          &--arc-text {
            top: -10px;
            left: 100px;
          }

          &--image {
            width: 150px;
            height: 150px;
            border-radius: 100%;
            overflow: hidden;
            border: 1px solid $color--primary-very-light;
            margin: 25px;

            img {
              width: 100%;
            }
          }
        }
      }

      &--right {
        text-align: left;

        .contact-info {
          font-size: 18px;

          &__location {
            padding: 0 0 25px;
          }

          &__renrakusaki {
            > div {
              padding: 5px 0;
            }

            .mdi {
              padding-right: 5px;
            }
          }
        }
      }
    }


    > div {
      flex: 1;
      padding: 20px;
    }
  }
}
